<mat-drawer-container style="height: 100%;">
    <mat-drawer #drawer class="sidenav" mode="side" style="width: 250px;" opened="true">
        <app-side-nav></app-side-nav>
    </mat-drawer>


    <!-- <mat-toolbar class="header" fxLayout="row" fxLayoutAlign="space-between center" color="warn">
        <div  fxLayout="row" fxLayoutAlign="space-around center">
            <button mat-icon-button type="button" mat-button (click)="drawer.toggle()" class="margin-right" color="primary">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-form-field appearance="outline" style="margin-bottom: 3px;" >
                <input matInput type="text" outline>
                <button disabled matPrefix mat-icon-button>
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" style="margin-right: 20px;">
            <button mat-icon-button class="margin-right" color="primary">
                <mat-icon>notifications</mat-icon>
            </button>
            <button mat-icon-button class="margin-right" color="primary">
                <mat-icon>chat_bubble</mat-icon>
            </button>
            <img src="assets\img\1_1yjbmb_mTngFxZ5qA3RLOw.jpeg" class="profileImage">
        </div>
    </mat-toolbar> -->
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <mat-form-field appearance="outline">
            <input matInput type="text" outline>
            <button disabled matPrefix mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field> -->
        <!-- <mat-form-field appearance="outline">
            <input type="text" matInput placeholder="search">
            <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
        </mat-form-field> -->
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
</mat-drawer-container>